- title 'Admin'
- css_class 'admin'
- breadcrumb [{label: 'Admin'}]


= link_to admin_users_path do
  #button{class: 'btn btn-primary btn-lg'}
    Manage Users
%p
= link_to root_path do
  #button{class: 'btn btn-primary btn-lg'}
    View Proxy Site
